
/* 
    Created on : Jun 15, 2015, 6:47:23 PM
    Author     : Luana
*/

.questionaire-header {
    width: 100%;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin: 20px 0;
}
.questionaire-header > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.questionaire-header h2 {
    width: 70%;
    text-align: left;
    font-size: 28px;
    margin: 0;
}
.questionaire-header div {
    width: 30%;
    text-align: right;
}
.questionaire-header div p {
    text-align: right;
    padding: 10px;
    margin: 0 auto;
    margin-right: 0px;
    display: table;
    border: solid 1px #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}